body{
    margin: 0px;
    padding: 0px;
    background-color: #EFEFEF;
}
.container{
    text-align: center;
    display: flex;
    font-family: sans-serif;
}
.left{
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.background{
    margin: 0px auto;
    height: 10vh;
    width: 30%;
    background-color: #070F2B;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white;  
    transition: background-color .2s; 
}
.background a{
    /* background-color: #F39422; */
    padding: 20px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-size: large;
    margin: auto;
    transition: font-size .1s;
}

.background a:hover{
    color: black;
    font-weight: 200;
}

.background:hover{
    cursor: pointer;
    background-color: transparent ;
    border: 1px solid;   
}
.light{
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F57D1F;
    border-radius: 15px 0px;
    box-shadow: 8px 10px 0px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 8px 10px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: 8px 10px 0px 1px rgba(0,0,0,1);
}
.content{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
    padding-bottom: 0px;
    user-select: none;
    color: #010038;
}
.content-1{
    pointer-events: none;
    user-select: none;
    color: rgb(0, 0, 0);
    padding: 0px auto 10px auto;
}
.right{
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 85vh;
    /* background-color: rgb(255, 0, 0); */
}
